---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<style>
	.wrapper {
		margin-top: 2em;
		margin-bottom: 2em;
	}
</style>

<BaseLayout title="Not Found">
	<h1>Page Not Found</h1>
	<p>Not found</p>
</BaseLayout>
