---
import PortfolioPreview from '../components/PortfolioPreview.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import type { Project } from '../types';

const projects = (await Astro.glob<Project>('./project/**/*.md'))
	.filter(({ frontmatter }) => !!frontmatter.publishDate)
	.sort(
		(a, b) =>
			new Date(b.frontmatter.publishDate).valueOf() - new Date(a.frontmatter.publishDate).valueOf()
	);
---

<BaseLayout
	title="Projects"
	description="Projects page">
	<h1 class="text-5xl font-bold pb-12">Projects</h1>
	<div class="grid grid-cols-1 gap-16">
		{projects.map((project) => <PortfolioPreview project={project} />)}
	</div>
</BaseLayout>
