---
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";
import '../styles/global.css';

export interface Props {
  title: string;
  description?: string;
}

const {
	title = 'Code Engineers',
	description = 'Code Engineers Blog',
} = Astro.props;
---
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" property="og:description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap" rel="stylesheet">
	</head>
	<body class="relative">
		<Nav />
		<slot />
		<Footer />
	</body>
</html>