---
export interface Props {
  title: string;
}

const { title } = Astro.props;
const labels: string[] = title.split(" ", 2);
const isFullTitle: boolean = labels.length == 1;
---
<header class="w-full border-b-2 border-black flex text-[8vw]">
  {labels.map((txt, i) => 
    <div class:list={['h-full flex items-center bg-blue font-extrabold ',
    {
      'justify-center border-r-2 border-black pl-10 pr-4': i == 0 && !isFullTitle,
      'w-full p-10' : i == 0 && isFullTitle,
      'w-full justify-start pl-4 pr-10 bg-yellow': i == 1
    }]}> {txt} </div>
  )}
</header>