---
import LogoText from './LogoText.astro';

const logoText: string = "Code Engineers";
const lineClass: string = "w-8 h-[2px] my-1 pr-0 pb-0 bg-black";
---

<nav class="border-b-2 w-full">
	<header class="hidden lg:flex border-b-2 text-[8vw]">
		<LogoText title={logoText}/>
	</header>
	<div class="flex lg:py-5 lg:px-10">
		<LogoText classList="lg:hidden text-2xl" title={logoText} />
		<div id="nav-btn" class="lg:hidden cursor-pointer flex flex-col justify-center items-center px-5 py-5 border-l-2 hover:opacity-50">
			<div class={lineClass} style="transform-style: preserve-3d;"></div>
			<div class={lineClass} style="transform-style: preserve-3d;"></div>
		</div>
		<div id="nav" class="hidden lg:flex">
			<a class="mr-12 text-lg lg:hover:text-blue lg:hover:font-semibold" href="/"> Home </a>
			<a class="mr-12 text-lg lg:hover:text-blue lg:hover:font-semibold" href="/projects/"> Projects </a>
			<a class="mr-12 text-lg lg:hover:text-blue lg:hover:font-semibold" href="/about/"> About </a>
		</div>
	</div>
</nav>

<script>
	const nav = document.getElementById('nav') as HTMLElement;
	const navBtn = document.getElementById('nav-btn');
	const [l1, l2] = navBtn.children as HTMLCollectionOf<HTMLElement>;
	let isMenuOpen: boolean = false;

	if (nav && navBtn) {
		navBtn.addEventListener('click', () => {
			isMenuOpen = !isMenuOpen;

			if (isMenuOpen) {
				l1.style.transform = `translate3d(0px, 5px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(-45deg) skew(0deg, 0deg)`;				
				l2.style.transform = `translate3d(0px, -5px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(45deg) skew(0deg, 0deg)`;
				nav.classList.add('menu-open');
				nav.classList.remove('hidden');
			}
			else {
				l1.style.transform = 'none';
				l2.style.transform = 'none';
				nav.classList.add('hidden');
				nav.classList.remove('menu-open');
			}
		})
	}

</script>