---
import Jumbotron from './Jumbotron.astro';

---

<nav class="border-y-2 border-black w-full">
	<Jumbotron title="Code Engineers" />
	<div class="flex py-5 px-10">
		<a class="mr-12 " href="/">
			<div class="monogram">Home</div>
		</a>
		<a class="mr-12" href="/projects/"> Projects </a>
		<a class="mr-12" href="/about/"> About </a>
	</div>
</nav>