---
import BaseHtml, { Props as BaseHtmlProps } from "../components/BaseHtml.astro";

export interface Props extends BaseHtmlProps { }

const { title, description } = Astro.props;

---

<BaseHtml title={title} description={description}>
  <main class="grid m-0">
    <slot></slot>
  </main>
</BaseHtml>